.metals
livechart/.bsp
livechart/project/project/target/config-classes
livechart/project/target
livechart/public
livechart/target
node_modules
.bsp
target
livechart/.bloop
livechart/project/.bloop
livechart/project/project
livechart/project/metals.sbt
.bloop
project/project/metals.sbt
project/metals.sbt
.idea
